<div class="row">

    <div class="col-md-4">
        <!-- service box -->
        <a href="#codemark-dialog" class="work-content">
            <div class="service-box rounded data-background padding-30 text-center text-light shadow-blue" data-color="#6C6CE5">
                <img width="100%" src="images/logos/SVG/react-redux.svg" alt="React.js" />
                <h3 class="mb-3 mt-0">React.js + Redux</h3>
                <!-- <p class="mb-0">Lorem ipsum dolor sit amet consectetuer adipiscing elit aenean commodo ligula eget.</p> -->
            </div>
        </a>
        <div class="spacer d-md-none d-lg-none" data-height="30"></div>
    </div>
    <div class="col-md-4">
        <!-- service box -->
        <a href="#fsp-5000px-dialog" class="work-content">
            <div class="service-box rounded data-background padding-30 text-center shadow-yellow" data-color="#F9D74C">
                <img class="typescript-logo" src="images/logos/ts-logo-128.svg" alt="Ruby on Rails" />
                <h3 class="mb-3 mt-0">TypeScript</h3>
                <!-- <p class="mb-0">Lorem ipsum dolor sit amet consectetuer adipiscing elit aenean commodo ligula eget.</p> -->
            </div>
            </a>
            <div class="spacer d-md-none d-lg-none" data-height="30"></div>
        </div>

    <div class="col-md-4">
        <!-- service box -->
        <a href="#animation-academy-dialog" class="work-content">
            <div class="service-box rounded data-background padding-30 text-center text-light shadow-pink" data-color="#ba8bed">
                <img class="css-logo" src="images/logos/graphql logo.svg" alt="GraphQL" />
                <h3 class="mb-3 mt-0">GraphQL</h3>
                <!-- <p class="mb-0">Lorem ipsum dolor sit amet consectetuer adipiscing elit aenean commodo ligula eget.</p> -->
            </div>
        </a>
    </div>

</div>

<div class="mt-5 text-center">
    <p class="mb-0">Looking for a well-rounded full-stack developer? <a href="#contact">Click here</a> to contact me! 👋</p>
</div>