<section id="experience">

    <div class="container">
        
        <!-- section title -->
        <h2 class="section-title wow fadeInUp">Experience</h2>
        <div class="spacer" data-height="20"></div>
        <a href="https://docs.google.com/document/d/e/2PACX-1vSz6sPnH3h7IKX_nW5nkPPR0IVhfw-mBrQbIx-M6FnEzfjKQk_ztCUD4DMue5QgcdeL5iV5xi06jwnS/pub" alt="Luis Laffitte's Resume" class="btn btn-default cv-exp">View CV</a>

        <div class="spacer" data-height="60"></div>
        
        <div class="row">

            <div class="col-md-6">
                
                <!-- timeline wrapper -->
                <div class="timeline edu bg-white rounded shadow-dark padding-30 overflow-hidden">
                    
                    <!-- timeline item -->
                    <div class="timeline-container wow fadeInUp">
                        <div class="content">
                            <span class="time">September 2022</span>
                            <h3 class="title">Full Stack Developer</h3>
                            <p>
                                Develop data ingestion, tracking and cataloging applications used by internal teams across the globe with TypeScript, React, GraphQL and NestJS along with libraries like AG Grid, Styled Components and Ant Design.
                            </p>
                        </div>
                    </div>
        
                    <!-- timeline item -->
                    <div class="timeline-container wow fadeInUp">
                        <div class="content">
                            <span class="time">September 2023</span>
                            <h3 class="title">App Academy</h3>
                            <p>Completed the In-Person 16 Week Full-Stack Software Engineering Bootcamp in San Francisco.</p>
                        </div>
                    </div>
        
                    <!-- timeline item -->
                    <div class="timeline-container wow fadeInUp" data-wow-delay="0.2s">
                        <div class="content">
                            <span class="time">2020-2021</span>
                            <h3 class="title">Digital Marketing Manager</h3>
                            <p>Redesigned UI, digital marketing strategy, and managed developers of an e-commerce platform that had ~600K monthly users.</p>
                        </div>
                    </div>
        
                    <!-- timeline item -->
                    <div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
                        <div class="content">
                            <span class="time">2016-2020</span>
                            <h3 class="title">Freelance Technical Marketer</h3>
                            <p>Founded a digital marketing agency offering website design, photo/video content creation, social media ad campaign management, graphic design, motion graphics, and digital marketing strategy.</p>
                        </div>
                    </div>
        
                    <!-- main line -->
                    <span class="line"></span>
        
                </div>
        
            </div>
        
            <div class="col-md-6">
                
                <!-- responsive spacer -->
                <div class="spacer d-md-none d-lg-none" data-height="30"></div>
        
                <!-- timeline wrapper -->
                <div class="px-4">
                    <h3 class="subtitle wow fadeInUp">Projects</h3>
                </div>
                <div class="timeline exp bg-white rounded shadow-dark padding-30 overflow-hidden">
        
                    <!-- timeline item -->
                    <div class="timeline-container wow fadeInUp">
                        <div class="content">
                            <span class="time">MERN Stack</span>
                            <h3 class="title">CodeMark</h3>
                            <p>A smark code note app built for developers to save & share code snippets.</p>
                            <div class="spacer" data-height="15"></div>
                            <span class="icon icon-link"></span>
                            <a href="https://code-mark.herokuapp.com/" target="_blank">
                                CodeMark
                            </a>
                        </div>
                    </div>
        
                    <!-- timeline item -->
                    <div class="timeline-container wow fadeInUp" data-wow-delay="0.2s">
                        <div class="content">
                            <span class="time">Full-Stack Clone</span>
                            <h3 class="title">5000px</h3>
                            <p>Full-stack clone of the popular 500px photo sharing site using React, Redux, Ruby on Rails, Node.js, and Webpack.</p>
                            <div class="spacer" data-height="15"></div>
                            <span class="icon icon-link"></span>
                            <a href="https://my5000px.herokuapp.com/#/" target="_blank">
                                5000px
                            </a>
                        </div>
                    </div>
        
                    <!-- timeline item -->
                    <div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
                        <div class="content">
                            <span class="time">Vanilla JavaScript</span>
                            <h3 class="title">Animation Academy</h3>
                            <p>Animation Academy teaches you CSS animations using the transition and @keyframes properties.</p>
                            <div class="spacer" data-height="15"></div>
                            <span class="icon icon-link"></span>
                            <a href="https://jacobbenowitz.github.io/animation_academy/" target="_blank">
                                Animation Academy
                            </a>
                        </div>
                    </div>
        
                    <!-- main line -->
                    <span class="line"></span>
        
                </div>
        
            </div>
        
        </div>

    </div>
    
</section>